:root {
  --primary-color: #8a2be2;
  --secondary-color: pink;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
h1.name {
  text-align: center;
  font-size: 64px;
}
.greeting {
  text-align: center;
  font-size: 32px;
}
.contact-buttons {
  display: flex;
  justify-content: space-evenly;
}
button.nav {
  margin: 20px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  box-shadow: var(--box-shadow);
}
.contact {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}
.contact:visited {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}

.link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

button:hover {
  background-color: var(--secondary-color);
  border: var(--secondary-color);
}
h1 {
  text-align: center;
  font-size: 60px;
}
h2 {
  text-align: center;
  font-size: 32px;
}

.mail {
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
}
.link:hover {
  background-color: var(--secondary-color);
  border: var(--secondary-color);
  color: var(--primary-color);
}
@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
